@import "../../styles/variables.scss";
.button {
  background-color: transparent;
  border: 1px solid $primary-btn;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 8px 16px;

  &:hover {
    background-color: $primary-btn;
    color: $secondary-text;
  }
}
