@import "../../styles/variables.scss";

.blog {
  h1 {
    font-size: 48px;
    margin-bottom: 32px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  &-posts {
    border-left: 1px solid $secondary;
    margin-bottom: 32px;
    padding-left: 16px;

    a {
      display: inline-block;
      padding-bottom: 8px;
      font-size: 20px;

      &:hover {
        color: $secondary;
      }
    }
  }
  &-actions {
    margin-top: 32px;
  }
}
