$primary: #00adb5;
$secondary: #ad005a;
$light: #fefefe;

$primary-btn: #212121;
$seconday-btn: #00adb5;

$primary-border: #212121;
$secondary-border: #ad005a;
$light-border: #eeeeee;

$primary-text: #212121;
$secondary-text: #fefefe;

$font-family: "Times New Roman", Times, serif;
